@import 'jeet'
@import 'rupture'

ol .home .logoAnim 
	+below(653px)
		top: 97%

header
	width 100%
	height 76px
	background #161616
	+below(653px)
		height inherit
		padding-top: 100px;
		padding-bottom: 17px;
		position initial
		overflow: hidden;
	
	nav
		center(default_min_width)
		overflow:hidden
		border:none
		display:block
		+below(653px)
			overflow visible

		ul#menu
			center(default_min_width)
			font-family: 'league_gothicregular'
			shift(0.02)
			+below(653px)
				center()
				margin-left: 7px;
			li
				col(1/9, gutter: 0,offset: 0)
				height:76px
				
				&.item
					margin-top: 9px
					shift(-1/38)
					+below(653px)
						height: inherit;
					a
						color: #fff
						font-size: 19px
						text-transform: uppercase
						letter-spacing: 2px
						transition: background .25s ease-in-out
						line-height: 20px
						display: block
						text-decoration: none
						border-radius: 6px
						text-align:center
						height: 40px
						padding-top: 20px
						&:hover
							background:#222222
						+below(653px)
							padding: 50px 0;
							background #202020
							height: initial;
							width: 96%;
							margin: 0px auto;
				+below(653px)
					span(1/2)
					
					
					
							
				&.brand
					shift(-.0035)
					+below(653px)
						top: -82px;
						position: absolute;
						left: 50%;
						margin-left: -41px;
						margin-top: 0px;
					
				&.decore
					height:18px
					box-sizing:border-box
					margin-top:29px
					text-indent: -9999px
					white-space: nowrap 
					background-repeat:no-repeat
					
				&.ldecor
					image: '../images/left.decor.png' 51px 18px
					+below(653px)
						position: absolute;
						top: -78px;
						left: 16%;
					
				&.rdecor
					image: '../images/right.decor.png' 51px 18px
					shift(0,0,0)
					+below(653px)
						position: absolute;
						top: -78px;
						left: 66%
					
				h1
					image:'../images/logo.mini.png' 66px 49px
					width: 66px
					height: 49px
					margin-top: 15px 