
.slide{
	min-height:100vh;
}
.home{
	#pixel_cover {
		position: absolute;
		bottom: 0px;
		right: 0px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1;
		overflow: hidden;
		background:url(../images/bg.pixie.png)
	}
	#video_background {
		position: absolute;
		bottom: 0px;
		right: 0px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;

	}

	.logoAnim{
        background url(../images/logo.big.sprite.png)
        width 272px
        height: 285px
        margin-top: 29px
        align(both)
        z-index: 5;
        animation loop_logo 2.5s steps(8) infinite

    }
}