extends layout

block content
	ol
		li.home
			h2.logoAnim.ir DevCult
			div#pixel_cover
			video#video_background(preload='auto', autoplay='true', loop='loop', muted='muted', volume='0') Video not supported
				source(src='http://dr9cwwae0x9en.cloudfront.net/videos/all.webm', type='video/webm')
				source(src='http://dr9cwwae0x9en.cloudfront.net/videos/all.mp4', type='video/mp4')  
